@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
}

.dot-active {
    background-color: #1a1a1a;
}

html {
    font-family: 'Darker Grotesque', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: #1a1a1a;
}

::selection {
    background: #3cb5aa;
    color: #1a1a1a;
}

tr {
    margin-bottom: 8px;
    display: block;
}

th {
    padding-right: 15px;
    width: 3em;
    vertical-align: top;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

td {
    font-size: 17px;
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px rgb(200 200 200);
}
::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}
